{% extends 'base.html' %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-5 intro">
            <h1>We specialise in providing Quality <span>Photography</span>.</h1>
            <p style="font-weight: bold;font-size: 20px;">For the constant generation of good products requires a strong foundation of experience and skills.</p>
            <button class="btn1">Discover</button>
        </div>
        <div class="col-md-7 hero_Img">
            <img class="img-fluid" src="../static/Images/black.png" alt="image">
        </div>
    </div>
</div>
<!-- services section -->
<div class="service_section">
    <div class="container">
        <div class="row d-flex align-content-center">
            <div class="col-md-6 service_Img">
                <img class="img-fluid" src="../static/Images/grapher4.jpg" alt="">
            </div>
            <div class="col-md-6">
                <p style="font-weight: bold;"><span style="color: #E4B96C;">#</span>whatwedo</p>
                <h2 class="mt-3" style="font-weight: bold;">Just design & compose, for those who want the best <span style="color: #E4B96C;">for their businesses</span>.</h2>
                <p class="mt-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam eum ipsum deleniti quasi ad dignissimos corrupti reiciendis rem recusandae pariatur, tempore, in quo amet id. Sapiente reiciendis doloremque consectetur saepe?</p>
            </div>
        </div>
    </div>
</div>
<div class="gallery_section">
    <div class="container">
        <div class="d-flex align-items-center justify-content-between">
            <h5><span style="color: #E4B96C;">#</span>Gallery</h5>
            <small>Since 2011 we've been working with a lot of different projects and large companies.</small>
        </div>
        <div class="row" style="margin-top: 10vh;">
            <div class="col-md-4">
                <img class="img-fluid" src="../static/Images/wed1.jpg" alt="">
            </div>
            <div class="col-md-4">
                <img class="img-fluid" src="../static/Images/hockey.jpg" alt="">
            </div>
            <div class="col-md-4">
                <img class="img-fluid" src="../static/Images/run.jpg" alt="">
            </div>
            <div class="col-md-4">
                <img class="img-fluid" src="../static/Images/wed1.jpg" alt="">
            </div>
            <div class="col-md-4">
                <img class="img-fluid" src="../static/Images/hockey.jpg" alt="">
            </div>
            <div class="col-md-4">
                <img class="img-fluid" src="../static/Images/run.jpg" alt="">
            </div>
        </div>
    </div>
</div>
{% endblock %}