@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Caveat&family=Great+Vibes&family=Nunito:wght@400;500;600;900&family=Poppins:wght@200;300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Caveat&family=Great+Vibes&family=Nunito:wght@400;500;600;900&family=Poppins:wght@200;300;400;600&display=swap');

body{
    background: #DEE2EB;
}
h1, h2,h5,small{
    font-family: 'Poppins', sans-serif;
}

p,h3,h4{
    font-family: 'Nunito', sans-serif;
}
.navbar-toggler:focus, .navbar-toggler:active{
    box-shadow: none;
}
.dropdown-menu{
    background: #2E2E2E;
}
.dropdown-item{
    color: #E4B96C;
}
.dropdown{
    color: black;
}
/* navbar */
.navbar-brand{
    font-size: 40px;
}
.navbar-brand, .nav-item > a{
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.navbar-brand:hover, .nav-item > a:hover{
    color: #E4B96C;
}
/* hero section */
.intro{
    margin-top: 10vh;
}
.intro > h1 > span{
    color: #E4B96C;
}
.intro > h1{
    font-weight: bolder;
    font-size: 50px;
}
.hero_Img > img{
    margin-top: -22vh;
}
.btn1{
    background: #E4B96C;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    border: none;
    height: 40px;
    width: 120px;
}
/* service section */
.service_section{
    background: #F9F9F9;
    padding-top: 20vh;
}
.service_Img > img{
    border-radius: 20px;
}
/* Gallery section */
.gallery_section{
    padding-top: 15vh;
    background: #F9F9F9;
}
.col-md-4 > img{
    margin: 3px;
    border-radius: 10px;
    height: 250px;
}
/* details section */
.detail_image{
    height: 362px;
}
.info{
    background: #F9F9F9;
    height: 362px;
    padding-top: 20px;
}
/* footer */
footer{
    background: #2E2E2E;
    color: #E4B96C;
    padding: 10px;
    margin-top: 10vh;
}
footer > .foot_items{
    display: flex;
    align-items: center;
    justify-content: space-between;
}